@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Alegreya%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Playfair+Display+SC%3Aital%2Cwght%400%2C400%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-KhQFa1tiL5Fd: #d0bca9;
  --plasmic-token-beige: var(--token-KhQFa1tiL5Fd);
  --token-VK3BY7WP91Dz: #f3ede5;
  --plasmic-token-ivory: var(--token-VK3BY7WP91Dz);
  --token-121nSrcuPXp6: #004225a6;
  --plasmic-token-british-racing-green: var(--token-121nSrcuPXp6);
  --token-CqWgxXYQugLC: #ffffff;
  --plasmic-token-white: var(--token-CqWgxXYQugLC);
  --token-Gdb0H-FitUt0: #3e5d4f;
  --plasmic-token-forest-green: var(--token-Gdb0H-FitUt0);
  --token-bhVRrHYU3Hsn: #004225;
  --plasmic-token-british-racing-green-2: var(--token-bhVRrHYU3Hsn);
  --token-c4lyiv3SiDeg: #45806d;
  --plasmic-token-jade-green: var(--token-c4lyiv3SiDeg);
  --token-kAcAL1M9vp4P: #333434;
  --plasmic-token-halcyon-gray: var(--token-kAcAL1M9vp4P);
  --token-Tncn4bxFq8hY: #696969;
  --plasmic-token-medium-gray: var(--token-Tncn4bxFq8hY);
  --token-cuuludTKXaqU: #c2b39c;
  --plasmic-token-oatmeal: var(--token-cuuludTKXaqU);
  --token-j4a2wuM3SSzf: #f5f1ea;
  --plasmic-token-light-ivory: var(--token-j4a2wuM3SSzf);
  --token-Insqya3ty5cK: var(--antd-colorSuccessBg);
  --plasmic-token-system-success-bg: var(--token-Insqya3ty5cK);
  --token-LJWTejwlV1mo: var(--antd-colorSuccessBg);
  --plasmic-token-system-success-bg-2: var(--token-LJWTejwlV1mo);
  --token-WLAfe7J13NSa: #d0bca9;
  --plasmic-token-sand: var(--token-WLAfe7J13NSa);
  --token-llswjj77M-8n: Playfair Display SC;
  --plasmic-token-playfair: var(--token-llswjj77M-8n);
  --token-wXP28YWdN0Xb: var(--antd-colorBgContainer);
  --plasmic-token-system-bg-container: var(--token-wXP28YWdN0Xb);
  --token-ZRsvlsUoqHpH: var(--antd-colorBgContainer);
  --plasmic-token-system-bg-container-2: var(--token-ZRsvlsUoqHpH);
  --token-VDnjkswbdUzn: 1440px;
  --plasmic-token-container: var(--token-VDnjkswbdUzn);
  --token-jA1vQMt4WvGm: Alegreya;
  --plasmic-token-alegraya: var(--token-jA1vQMt4WvGm);
  --token-jh_uI9MWGYDD: #000000;
  --plasmic-token-black: var(--token-jh_uI9MWGYDD);
  --token-SGU6JwZjM3u7: #6e7166;
  --plasmic-token-gray-taupe: var(--token-SGU6JwZjM3u7);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-sL1UDcpFWmpU_font-family: "Inter", sans-serif;
  --mixin-sL1UDcpFWmpU_font-size: 16px;
  --mixin-sL1UDcpFWmpU_font-weight: 400;
  --mixin-sL1UDcpFWmpU_font-style: normal;
  --mixin-sL1UDcpFWmpU_color: #535353;
  --mixin-sL1UDcpFWmpU_text-align: left;
  --mixin-sL1UDcpFWmpU_text-transform: none;
  --mixin-sL1UDcpFWmpU_line-height: 1.5;
  --mixin-sL1UDcpFWmpU_letter-spacing: normal;
  --mixin-sL1UDcpFWmpU_white-space: pre-wrap;
  --mixin-sL1UDcpFWmpU_user-select: text;
  --mixin-sL1UDcpFWmpU_text-decoration-line: none;
  --mixin-sL1UDcpFWmpU_text-overflow: clip;
  --mixin-Fl4f96Fv6x_I_color: #000000;
  --mixin-Fl4f96Fv6x_I_font-weight: 700;
  --mixin-Fl4f96Fv6x_I_font-size: 64px;
  --mixin-Fl4f96Fv6x_I_line-height: 1;
  --mixin-Fl4f96Fv6x_I_letter-spacing: -1px;
  --mixin-Fl4f96Fv6x_I_white-space: pre-wrap;
  --mixin-RDHepMdL9KJE_color: #000000;
  --mixin-RDHepMdL9KJE_font-size: 48px;
  --mixin-RDHepMdL9KJE_font-weight: 700;
  --mixin-RDHepMdL9KJE_letter-spacing: -0.5px;
  --mixin-RDHepMdL9KJE_line-height: 1.1;
  --mixin-RDHepMdL9KJE_white-space: pre-wrap;
  --mixin-8_KKnzGLEJ4C_color: #0070f3;
  --mixin-8_KKnzGLEJ4C_white-space: pre-wrap;
  --mixin-tA5X0g_8MdYa_color: #000000;
  --mixin-tA5X0g_8MdYa_font-size: 32px;
  --mixin-tA5X0g_8MdYa_font-weight: 600;
  --mixin-tA5X0g_8MdYa_line-height: 1.2;
  --mixin-tA5X0g_8MdYa_white-space: pre-wrap;
  --mixin-mvCKPv0ibchC_color: #000000;
  --mixin-mvCKPv0ibchC_font-size: 24px;
  --mixin-mvCKPv0ibchC_font-weight: 600;
  --mixin-mvCKPv0ibchC_line-height: 1.3;
  --mixin-mvCKPv0ibchC_white-space: pre-wrap;
  --mixin-I2Nw3joSufEz_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-I2Nw3joSufEz_border-bottom-color: #dddddd;
  --mixin-I2Nw3joSufEz_border-bottom-style: solid;
  --mixin-I2Nw3joSufEz_border-bottom-width: 1px;
  --mixin-I2Nw3joSufEz_border-left-color: #dddddd;
  --mixin-I2Nw3joSufEz_border-left-style: solid;
  --mixin-I2Nw3joSufEz_border-left-width: 1px;
  --mixin-I2Nw3joSufEz_border-right-color: #dddddd;
  --mixin-I2Nw3joSufEz_border-right-style: solid;
  --mixin-I2Nw3joSufEz_border-right-width: 1px;
  --mixin-I2Nw3joSufEz_border-top-color: #dddddd;
  --mixin-I2Nw3joSufEz_border-top-style: solid;
  --mixin-I2Nw3joSufEz_border-top-width: 1px;
  --mixin-I2Nw3joSufEz_border-bottom-left-radius: 3px;
  --mixin-I2Nw3joSufEz_border-bottom-right-radius: 3px;
  --mixin-I2Nw3joSufEz_border-top-left-radius: 3px;
  --mixin-I2Nw3joSufEz_border-top-right-radius: 3px;
  --mixin-I2Nw3joSufEz_font-family: "Inconsolata";
  --mixin-I2Nw3joSufEz_padding-bottom: 1px;
  --mixin-I2Nw3joSufEz_padding-left: 4px;
  --mixin-I2Nw3joSufEz_padding-right: 4px;
  --mixin-I2Nw3joSufEz_padding-top: 1px;
  --mixin-I2Nw3joSufEz_white-space: pre-wrap;
  --mixin-s7dVFAO8IGmm_border-left-color: #dddddd;
  --mixin-s7dVFAO8IGmm_border-left-style: solid;
  --mixin-s7dVFAO8IGmm_border-left-width: 3px;
  --mixin-s7dVFAO8IGmm_color: #888888;
  --mixin-s7dVFAO8IGmm_padding-left: 10px;
  --mixin-s7dVFAO8IGmm_white-space: pre-wrap;
  --mixin-ICTrHTFENWBk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ICTrHTFENWBk_border-bottom-color: #dddddd;
  --mixin-ICTrHTFENWBk_border-bottom-style: solid;
  --mixin-ICTrHTFENWBk_border-bottom-width: 1px;
  --mixin-ICTrHTFENWBk_border-left-color: #dddddd;
  --mixin-ICTrHTFENWBk_border-left-style: solid;
  --mixin-ICTrHTFENWBk_border-left-width: 1px;
  --mixin-ICTrHTFENWBk_border-right-color: #dddddd;
  --mixin-ICTrHTFENWBk_border-right-style: solid;
  --mixin-ICTrHTFENWBk_border-right-width: 1px;
  --mixin-ICTrHTFENWBk_border-top-color: #dddddd;
  --mixin-ICTrHTFENWBk_border-top-style: solid;
  --mixin-ICTrHTFENWBk_border-top-width: 1px;
  --mixin-ICTrHTFENWBk_border-bottom-left-radius: 3px;
  --mixin-ICTrHTFENWBk_border-bottom-right-radius: 3px;
  --mixin-ICTrHTFENWBk_border-top-left-radius: 3px;
  --mixin-ICTrHTFENWBk_border-top-right-radius: 3px;
  --mixin-ICTrHTFENWBk_font-family: "Inconsolata";
  --mixin-ICTrHTFENWBk_padding-bottom: 3px;
  --mixin-ICTrHTFENWBk_padding-left: 6px;
  --mixin-ICTrHTFENWBk_padding-right: 6px;
  --mixin-ICTrHTFENWBk_padding-top: 3px;
  --mixin-ICTrHTFENWBk_white-space: pre-wrap;
  --mixin-rtxxJCihkjG__display: flex;
  --mixin-rtxxJCihkjG__flex-direction: column;
  --mixin-rtxxJCihkjG__align-items: stretch;
  --mixin-rtxxJCihkjG__justify-content: flex-start;
  --mixin-rtxxJCihkjG__list-style-position: outside;
  --mixin-rtxxJCihkjG__padding-left: 40px;
  --mixin-rtxxJCihkjG__position: relative;
  --mixin-rtxxJCihkjG__list-style-type: disc;
  --mixin-rtxxJCihkjG__white-space: pre-wrap;
  --mixin-JiIYZrg-MOsu_display: flex;
  --mixin-JiIYZrg-MOsu_flex-direction: column;
  --mixin-JiIYZrg-MOsu_align-items: stretch;
  --mixin-JiIYZrg-MOsu_justify-content: flex-start;
  --mixin-JiIYZrg-MOsu_list-style-position: outside;
  --mixin-JiIYZrg-MOsu_padding-left: 40px;
  --mixin-JiIYZrg-MOsu_position: relative;
  --mixin-JiIYZrg-MOsu_list-style-type: decimal;
  --mixin-JiIYZrg-MOsu_white-space: pre-wrap;
  --mixin-e0sbiP1Epb8t_color: #000000;
  --mixin-e0sbiP1Epb8t_font-size: 20px;
  --mixin-e0sbiP1Epb8t_font-weight: 600;
  --mixin-e0sbiP1Epb8t_line-height: 1.5;
  --mixin-e0sbiP1Epb8t_white-space: pre-wrap;
  --mixin-Vpb7414sE_Ql_color: #000000;
  --mixin-Vpb7414sE_Ql_font-size: 16px;
  --mixin-Vpb7414sE_Ql_font-weight: 600;
  --mixin-Vpb7414sE_Ql_line-height: 1.5;
  --mixin-Vpb7414sE_Ql_white-space: pre-wrap;
  --mixin-E3bSix2fkGKx_color: #3291ff;
  --mixin-E3bSix2fkGKx_white-space: pre-wrap;
  --mixin-g8g7wNyMpW4g_white-space: pre-wrap;
  --mixin-3TKRRGR0Eivv_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-sL1UDcpFWmpU_font-family);
  font-size: var(--mixin-sL1UDcpFWmpU_font-size);
  font-weight: var(--mixin-sL1UDcpFWmpU_font-weight);
  font-style: var(--mixin-sL1UDcpFWmpU_font-style);
  color: var(--mixin-sL1UDcpFWmpU_color);
  text-align: var(--mixin-sL1UDcpFWmpU_text-align);
  text-transform: var(--mixin-sL1UDcpFWmpU_text-transform);
  line-height: var(--mixin-sL1UDcpFWmpU_line-height);
  letter-spacing: var(--mixin-sL1UDcpFWmpU_letter-spacing);
  white-space: var(--mixin-sL1UDcpFWmpU_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-Fl4f96Fv6x_I_color);
  font-weight: var(--mixin-Fl4f96Fv6x_I_font-weight);
  font-size: var(--mixin-Fl4f96Fv6x_I_font-size);
  line-height: var(--mixin-Fl4f96Fv6x_I_line-height);
  letter-spacing: var(--mixin-Fl4f96Fv6x_I_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-RDHepMdL9KJE_color);
  font-size: var(--mixin-RDHepMdL9KJE_font-size);
  font-weight: var(--mixin-RDHepMdL9KJE_font-weight);
  letter-spacing: var(--mixin-RDHepMdL9KJE_letter-spacing);
  line-height: var(--mixin-RDHepMdL9KJE_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-8_KKnzGLEJ4C_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-tA5X0g_8MdYa_color);
  font-size: var(--mixin-tA5X0g_8MdYa_font-size);
  font-weight: var(--mixin-tA5X0g_8MdYa_font-weight);
  line-height: var(--mixin-tA5X0g_8MdYa_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-mvCKPv0ibchC_color);
  font-size: var(--mixin-mvCKPv0ibchC_font-size);
  font-weight: var(--mixin-mvCKPv0ibchC_font-weight);
  line-height: var(--mixin-mvCKPv0ibchC_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-I2Nw3joSufEz_font-family);
  border-radius: var(--mixin-I2Nw3joSufEz_border-top-left-radius)
    var(--mixin-I2Nw3joSufEz_border-top-right-radius)
    var(--mixin-I2Nw3joSufEz_border-bottom-right-radius)
    var(--mixin-I2Nw3joSufEz_border-bottom-left-radius);
  padding: var(--mixin-I2Nw3joSufEz_padding-top)
    var(--mixin-I2Nw3joSufEz_padding-right)
    var(--mixin-I2Nw3joSufEz_padding-bottom)
    var(--mixin-I2Nw3joSufEz_padding-left);
  border-top: var(--mixin-I2Nw3joSufEz_border-top-width)
    var(--mixin-I2Nw3joSufEz_border-top-style)
    var(--mixin-I2Nw3joSufEz_border-top-color);
  border-right: var(--mixin-I2Nw3joSufEz_border-right-width)
    var(--mixin-I2Nw3joSufEz_border-right-style)
    var(--mixin-I2Nw3joSufEz_border-right-color);
  border-bottom: var(--mixin-I2Nw3joSufEz_border-bottom-width)
    var(--mixin-I2Nw3joSufEz_border-bottom-style)
    var(--mixin-I2Nw3joSufEz_border-bottom-color);
  border-left: var(--mixin-I2Nw3joSufEz_border-left-width)
    var(--mixin-I2Nw3joSufEz_border-left-style)
    var(--mixin-I2Nw3joSufEz_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-s7dVFAO8IGmm_color);
  padding-left: var(--mixin-s7dVFAO8IGmm_padding-left);
  border-left: var(--mixin-s7dVFAO8IGmm_border-left-width)
    var(--mixin-s7dVFAO8IGmm_border-left-style)
    var(--mixin-s7dVFAO8IGmm_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ICTrHTFENWBk_font-family);
  border-radius: var(--mixin-ICTrHTFENWBk_border-top-left-radius)
    var(--mixin-ICTrHTFENWBk_border-top-right-radius)
    var(--mixin-ICTrHTFENWBk_border-bottom-right-radius)
    var(--mixin-ICTrHTFENWBk_border-bottom-left-radius);
  padding: var(--mixin-ICTrHTFENWBk_padding-top)
    var(--mixin-ICTrHTFENWBk_padding-right)
    var(--mixin-ICTrHTFENWBk_padding-bottom)
    var(--mixin-ICTrHTFENWBk_padding-left);
  border-top: var(--mixin-ICTrHTFENWBk_border-top-width)
    var(--mixin-ICTrHTFENWBk_border-top-style)
    var(--mixin-ICTrHTFENWBk_border-top-color);
  border-right: var(--mixin-ICTrHTFENWBk_border-right-width)
    var(--mixin-ICTrHTFENWBk_border-right-style)
    var(--mixin-ICTrHTFENWBk_border-right-color);
  border-bottom: var(--mixin-ICTrHTFENWBk_border-bottom-width)
    var(--mixin-ICTrHTFENWBk_border-bottom-style)
    var(--mixin-ICTrHTFENWBk_border-bottom-color);
  border-left: var(--mixin-ICTrHTFENWBk_border-left-width)
    var(--mixin-ICTrHTFENWBk_border-left-style)
    var(--mixin-ICTrHTFENWBk_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-rtxxJCihkjG__display);
  flex-direction: var(--mixin-rtxxJCihkjG__flex-direction);
  align-items: var(--mixin-rtxxJCihkjG__align-items);
  justify-content: var(--mixin-rtxxJCihkjG__justify-content);
  list-style-position: var(--mixin-rtxxJCihkjG__list-style-position);
  padding-left: var(--mixin-rtxxJCihkjG__padding-left);
  position: var(--mixin-rtxxJCihkjG__position);
  list-style-type: var(--mixin-rtxxJCihkjG__list-style-type);
  flex-column-gap: var(--mixin-rtxxJCihkjG__flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-JiIYZrg-MOsu_display);
  flex-direction: var(--mixin-JiIYZrg-MOsu_flex-direction);
  align-items: var(--mixin-JiIYZrg-MOsu_align-items);
  justify-content: var(--mixin-JiIYZrg-MOsu_justify-content);
  list-style-position: var(--mixin-JiIYZrg-MOsu_list-style-position);
  padding-left: var(--mixin-JiIYZrg-MOsu_padding-left);
  position: var(--mixin-JiIYZrg-MOsu_position);
  list-style-type: var(--mixin-JiIYZrg-MOsu_list-style-type);
  flex-column-gap: var(--mixin-JiIYZrg-MOsu_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-e0sbiP1Epb8t_color);
  font-size: var(--mixin-e0sbiP1Epb8t_font-size);
  font-weight: var(--mixin-e0sbiP1Epb8t_font-weight);
  line-height: var(--mixin-e0sbiP1Epb8t_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-Vpb7414sE_Ql_color);
  font-size: var(--mixin-Vpb7414sE_Ql_font-size);
  font-weight: var(--mixin-Vpb7414sE_Ql_font-weight);
  line-height: var(--mixin-Vpb7414sE_Ql_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-E3bSix2fkGKx_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
