.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.footerTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: var(--token-kAcAL1M9vp4P);
  min-width: 0;
  padding: 12px 8px;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  padding: 4px 0px;
}
.columns___1EbZk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
  margin: 0px 0px 0em;
}
.columns___1EbZk > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___1EbZk > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___1EbZk > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1EbZk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 1.5em;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1EbZk > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__eDn6F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.column__eDn6F > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.column__eDn6F > :global(.__wab_flex-container) > *,
.column__eDn6F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__eDn6F > :global(.__wab_flex-container) > picture > img,
.column__eDn6F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__urShb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Playfair Display SC", serif;
  font-size: 22px;
  color: var(--token-WLAfe7J13NSa);
  text-align: center;
  margin-bottom: 8px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  background: none;
  font-weight: 500;
  width: auto;
  border: 1px solid var(--token-kAcAL1M9vp4P);
}
@media (min-width: 0px) and (max-width: 768px) {
  .button:global(.__wab_instance) {
    background: var(--token-kAcAL1M9vp4P);
    border: 1px solid var(--token-kAcAL1M9vp4P);
  }
}
.text__r0CV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-VK3BY7WP91Dz);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.freeBox__kr1Nb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 4px) !important;
  margin-bottom: 4px;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kr1Nb {
    margin-top: calc(0px + 4px) !important;
  }
}
.text___4T33C {
  color: var(--token-KhQFa1tiL5Fd);
  padding-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.emailAddressText {
  color: var(--token-j4a2wuM3SSzf);
  padding-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .emailAddressText {
    font-size: 14px;
    font-weight: 500;
  }
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__lVbUh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: auto;
}
.text___9Kgs9 {
  text-align: center;
  color: var(--token-bhVRrHYU3Hsn);
  font-family: var(--token-llswjj77M-8n);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__u4By0 {
  color: var(--token-KhQFa1tiL5Fd);
  padding-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: calc(4px + 4px) !important;
  margin-bottom: 8px;
  font-style: normal;
  text-align: left;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__j30LA {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__j30LA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__j30LA > :global(.__wab_flex-container) > *,
.freeBox__j30LA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j30LA > :global(.__wab_flex-container) > picture > img,
.freeBox__j30LA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.instagramIcon {
  object-fit: cover;
  width: 26px;
  height: 26px;
  color: var(--token-CqWgxXYQugLC);
  flex-shrink: 0;
}
.pinterestIcon2 {
  object-fit: cover;
  width: 26px;
  height: 26px;
  color: var(--token-CqWgxXYQugLC);
  flex-shrink: 0;
}
.pinterestIcon {
  object-fit: cover;
  width: 26px;
  height: 26px;
  color: var(--token-CqWgxXYQugLC);
  flex-shrink: 0;
}
.twitterIcon {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-CqWgxXYQugLC);
  margin-top: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  margin-left: calc(1px + 16px) !important;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .twitterIcon {
    margin-left: calc(1px + 16px) !important;
  }
}
.column__rlWon {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.column__rlWon > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.column__rlWon > :global(.__wab_flex-container) > *,
.column__rlWon > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__rlWon > :global(.__wab_flex-container) > picture > img,
.column__rlWon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rlWon {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rlWon > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rlWon > :global(.__wab_flex-container) > *,
  .column__rlWon > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__rlWon > :global(.__wab_flex-container) > picture > img,
  .column__rlWon
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 4px;
  }
}
.text__xqh3L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Playfair Display SC", serif;
  font-size: 22px;
  color: var(--token-WLAfe7J13NSa);
  text-align: center;
  margin-bottom: 8px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.linkHome:global(.__wab_instance) {
  max-width: 100%;
}
.linkMemberships:global(.__wab_instance) {
  max-width: 100%;
}
.linkSchedule:global(.__wab_instance) {
  max-width: 100%;
}
.linkPrivates:global(.__wab_instance) {
  max-width: 100%;
}
.linkAboutUs:global(.__wab_instance) {
  max-width: 100%;
}
.linkContact:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__xxoyk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 4px;
  margin-left: 4px;
  align-self: center;
  min-width: 0;
  padding: 8px 4px;
}
.linkPrivacyPolicy:global(.__wab_instance) {
  max-width: 100%;
}
.linkCookiesPolicy:global(.__wab_instance) {
  max-width: 100%;
}
.linkTermsOfService:global(.__wab_instance) {
  max-width: 100%;
}
.column___7Pz1D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  border-left-style: solid;
  border-left-color: #ffffff;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7Pz1D {
    padding: 0px 8px;
  }
}
.h5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 22px;
  color: var(--token-KhQFa1tiL5Fd);
  font-weight: 500;
  padding-bottom: 0px;
  font-family: "Playfair Display SC", serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  margin: 0px 0px 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5 {
    margin: 0px 0px 15px;
  }
}
.columns__phYzj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: #ffffff;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  border-style: solid;
}
.columns__phYzj > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__phYzj > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__phYzj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__phYzj > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__phYzj > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__qpHSx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__yA9C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__yA9C > picture > img {
  object-fit: cover;
}
.column__zwHHk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__etu4T {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__etu4T > picture > img {
  object-fit: cover;
}
.columns__wsrdW {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: #ffffff;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  border-style: solid;
}
.columns__wsrdW > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__wsrdW > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wsrdW {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wsrdW > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wsrdW > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__v1Iw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__tx4O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img__tx4O > picture > img {
  object-fit: cover;
}
.column__wZ9T8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___1YsZg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 80px;
  flex-shrink: 0;
}
.img___1YsZg > picture > img {
  object-fit: cover;
}
